<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/blackjack.css">
  <title>MyPokerSpace - BlackJack</title>
</head>

<body>
  <div class="table">
    <div class="table-inner"></div>

    <div class="cardholder house">
      <ul id="house-cards">
        <li class="card"><img src="images/decks/StylizedDeck/PNG/white/Clovers_Jack_white.png" alt=""></li>
        <li class="card"><img src="images/decks/StylizedDeck/PNG/white/Clovers_Jack_white.png" alt=""></li>
      </ul>
    </div>

    <div class="buttons-center">
      <button class="game-btn">Hit</button>
      <img src="" alt="">
      €100
      <button class="game-btn">Stand</button>
    </div>

    <div class="cardholder player">
      <ul id="player-cards">
        <li class="card"><img src="images/decks/StylizedDeck/PNG/white/Clovers_Jack_white.png" alt=""></li>
        <li class="card"><img src="images/decks/StylizedDeck/PNG/white/Clovers_Jack_white.png" alt=""></li>
        <li class="card"><img src="images/decks/StylizedDeck/PNG/white/Clovers_Jack_white.png" alt=""></li>
        <li class="card"><img src="images/decks/StylizedDeck/PNG/white/Clovers_Jack_white.png" alt=""></li>
      </ul>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="../blackjack.js"></script>
</body>

</html>