<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/blackjack.css">
  <title>MyPokerSpace - BlackJack</title>
</head>

<body>
  <div class="table">
    <div class="table-inner"></div>
    <% if(locals.gameStarted) { %>
      <div class="cardholder house">
        <ul id="dealer-cards">

        </ul>
      </div>

      <div class="buttons-center">
        <button class="game-btn hit">Hit</button>
        <img src="" alt="">
        €100
        <button class="game-btn stand">Stand</button>
      </div>

      <div class="cardholder player">
        <ul id="player-cards">

        </ul>
      </div>

      <div class="game-info">
        <div id="dealer-score" class="score">
          <p>
            Dealer Score
          </p>
          <p>
            <%if(locals.dealerScore){%>
            <%=dealerScore%>
            <%}%>
          </p>
        </div>

        <div id="player-score" class="score">
          <p>
            Player Score
          </p>
          <p>
            <%if(locals.playerScore){%>
            <%=playerScore%>
            <%}%>
          </p>
        </div>
      </div>
    <% } else { %>

    <% } %>
  </div>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="blackjack.js"></script>
</body>

</html>